body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#header {
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}
.container{

    border: 5px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 560px;
    width: 560px;
    
}

.gridBox{
    border: 1px solid black;
    box-sizing: border-box;
    height: 35px;
    width:35px;
    flex-shrink: 0;
    flex-grow: 1;

}

.shaded {
    background-color: black;
}
/*
TDL

1) Fine-tune container dimensions
*/
